body {
    font-family: Arial, sans-serif;
    background: #0b0e1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatbot-container {
    width: 350px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(184, 184, 184);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.chat-header {
    background: #051a30;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.chat-window {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-message {
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
}

.user {
    align-self: flex-end;
    background-color: #051a30;
    color: white;
}

.bot {
    align-self: flex-start;
    background-color: #f1f0f0;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-input button {
    padding: 10px 15px;
    border: none;
    background-color: #051a30;
    color: white;
    cursor: pointer;
}